html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #eee;
}

input:-moz-placeholder {
  color: #eee;
}

input::-moz-placeholder {
  color: #eee;
}

input:-ms-input-placeholder {
  color: #eee;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input,
textarea,
select {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

.quiz {
  position: fixed;
  z-index: 5;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #fafafa;
  line-height: 1;
  display: none;
}

.quiz.loading .quiz__loader {
  display: block;
}

.quiz.answering .quiz__progress {
  opacity: 1;
}

.quiz.answering .quiz__back,
.quiz.answering .quiz__reason {
  display: block;
}

.quiz__wrapper {
  height: 100%;
  width: 100%;
  padding: 15px;
  border-collapse: collapse;
}

.quiz__container {
  vertical-align: top;
  position: relative;
  overflow: hidden;
}

.quiz__content {
  overflow: hidden;
}

.quiz__inner {
  margin: 0 auto;
  padding: 60px;
  position: relative;
}

.quiz__loader {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #fff;
}

.quiz__loader .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.quiz__head {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 80px;
}

.quiz__close {
  position: absolute;
  top: 30px;
  right: 60px;
  padding: 0;
  background-color: transparent;
  border: none;
  line-height: 1;
  cursor: pointer;
}

.quiz__close::before {
  content: '\f00d';
  font-family: FontAwesome;
  font-size: 30px;
  opacity: .5;
}

.quiz__close:hover::before {
  opacity: 1;
}

.quiz__back {
  position: absolute;
  top: 30px;
  left: 60px;
  padding: 0;
  background-color: transparent;
  border: none;
  line-height: 1;
  cursor: pointer;
  display: none;
}

.quiz__back::before {
  content: '\f060';
  font-family: FontAwesome;
  font-size: 30px;
  opacity: .5;
}

.quiz__back:hover::before {
  opacity: 1;
}

.quiz__logo {
  max-width: 100px;
}

.quiz__logoSign {
  font-size: 20px;
  max-width: 180px;
  text-align: left;
  margin: 0;
  margin-right: auto;
  line-height: 1.2;
  padding-left: 30px;
}

.quiz__phone {
  font-size: 26px;
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.quiz__phone::before {
  font-family: FontAwesome;
  content: "\f095";
  font-size: 23px;
  color: #5e94dc;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.quiz__phone:hover {
  color: #ed5262;
}

.quiz__tail {
  color: #111;
  margin-bottom: 180px;
  position: relative;
}

.quiz__tail::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -230px;
  right: 50%;
  margin-right: -740px;
  width: 795px;
  height: 795px;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  background-image: url(../img/quiz-main-pic.jpg);
}

.quiz__title {
  font-size: 58px;
  line-height: 1.2;
  margin: 0 0 30px;
}

.quiz__title span {
  display: block;
}

.quiz__text {
  font-size: 22px;
  margin: 0 0 40px;
  line-height: 1.5;
  max-width: 750px;
}

.quiz__btn {
  background-color: #e4273a;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  padding: 30px 40px;
  border-radius: 150px;
  color: #fff;
  border: none;
  font-weight: 700;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  -webkit-box-shadow: 0 0.3rem 1.6rem -0.2rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.3rem 1.6rem -0.2rem rgba(0, 0, 0, 0.3);
  min-width: 320px;
}

.quiz__btn::after {
  font-family: FontAwesome;
  content: "\f101";
  font-size: 25px;
  display: inline-block;
  margin-left: 15px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.quiz__btn:hover {
  background-color: #ed5262;
  -webkit-box-shadow: 0 0.1rem 1rem -0.2rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.1rem 1rem -0.2rem rgba(0, 0, 0, 0.3);
}

.quiz__btn:hover::after {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.quiz__callback {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-left: 30px;
  border: none;
  cursor: pointer;
  padding: 0 0 8px;
  background-color: transparent;
  border-bottom: 2px solid #333;
}

.quiz__callback:hover {
  color: #e4273a;
}

.quiz__counter {
  font-size: 18px;
  color: #888;
  margin: 25px 0 0;
}

.quiz__list {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 0;
}

.quiz__choiseText {
  font-size: 42px;
  text-align: center;
  line-height: 1.3;
  margin: 0 0 30px;
  width: 100%;
}

.quiz__item {
  width: 25%;
  display: inline-block;
  padding-bottom: 25%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  border: none;
}

.quiz__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .6;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.quiz__item:hover i {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.quiz__item:hover::after {
  background-color: #5e94dc;
  opacity: .9;
}

.quiz__item:hover span {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.quiz__item span {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 15px;
  z-index: 1;
  font-weight: 700;
  padding-top: 120px;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.quiz__item i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.quiz__progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #eee;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  opacity: 0;
}

.quiz__progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  background-color: #00C552;
  text-align: right;
  padding-right: 10px;
  -webkit-transition: all time;
  -o-transition: all time;
  transition: all time;
}

.quiz__disclamer {
  color: #BBBBBB;
  letter-spacing: .2em;
  margin: 50px 0 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.4;
}

.quiz__reason {
  font-size: 15px;
  line-height: 1.3;
  max-width: 480px;
  width: 100%;
  margin: 0 auto 50px;
  font-weight: 300;
  color: #999;
  background-color: #fff;
  border-radius: 150px;
  padding: 20px 30px 20px 120px;
  position: relative;
  display: none;
  -webkit-box-shadow: 0 0.3rem 1.6rem -0.2rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.3rem 1.6rem -0.2rem rgba(0, 0, 0, 0.1);
}

.quiz__reason::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(../img/quiz-reason-pic.jpg);
  background-size: cover;
  border-radius: 150px;
}

.quiz__reason::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.quiz__reason b {
  display: block;
  color: #333;
  font-size: 18px;
}

.quiz__reason i {
  display: none;
}

.quiz__questions {
  max-width: 1200px;
  margin: 0 auto;
}

.quiz__questions.error .quiz__question-caption {
  -webkit-animation: error 0.4s 1 linear;
  animation: error 0.4s 1 linear;
  color: #e4273a;
}

.quiz__questions.error .quiz__question-error {
  display: block;
  -webkit-animation: error 0.4s 1 linear;
  animation: error 0.4s 1 linear;
}

.quiz__question {
  color: #151515;
  display: none;
}

.quiz__question.active {
  display: block;
}

.quiz__question-answers {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -15px -15px 50px;
}

.quiz__question-caption {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  margin: 0 0 30px;
}

.quiz__question-answer {
  margin: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 25%;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  background-color: #fff;
  padding: 30px 20px 30px 80px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 20px;
  line-height: 1.3;
  position: relative;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 5px 1.6rem 5px rgba(0, 0, 0, 0.03);
  box-shadow: 0 5px 1.6rem 5px rgba(0, 0, 0, 0.03);
}

.quiz__question-answer::before, .quiz__question-answer::after {
  position: absolute;
  left: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 25px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  z-index: 1;
}

.quiz__question-answer::after {
  font-family: FontAwesome;
  content: '\f00c';
  opacity: 0;
}

.quiz__question-answer::before {
  content: '';
  border-radius: 50%;
  border: 1px solid #00C552;
}

.quiz__question-answer.selected {
  -webkit-box-shadow: 0 5px 1.6rem 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 1.6rem 5px rgba(0, 0, 0, 0.12);
  border-color: #00C552;
}

.quiz__question-answer.selected::before {
  background-color: #00C552;
}

.quiz__question-answer.selected::after {
  -webkit-animation: answer-check .3s ease forwards;
  animation: answer-check .3s ease forwards;
}

.quiz__question-answer span {
  font-size: 16px;
  margin-top: 8px;
}

.quiz__question-answer--has-image {
  padding: 250px 20px 30px 20px;
}

.quiz__question-answer--has-image i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: 50% 50%;
}

.quiz__question-answer--has-image::after, .quiz__question-answer--has-image::before {
  top: 30px;
}

.quiz__question-error {
  text-align: center;
  padding: 15px;
  background-color: #f7dadd;
  border: 1px solid #e4273a;
  color: #e4273a;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  display: none;
}

.quiz__form-title {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  margin: 0 0 30px;
}

.quiz__form-inner {
  max-width: 500px;
  margin: 0 auto;
}

.quiz__form-field {
  padding: 5px 60px;
  border-bottom: 2px solid #e4273a;
  position: relative;
}

.quiz__form-field input {
  border: none;
  font-size: 27px;
  font-weight: 700;
  width: 100%;
  color: #333;
  background-color: transparent;
  text-align: center;
}

.quiz__form-field::before {
  font-family: FontAwesome;
  content: '\f3cd';
  font-size: 35px;
  position: absolute;
  top: 0;
  line-height: 45px;
  left: 15px;
  color: #e4273a;
}

.quiz__finish {
  max-width: 1200px;
  margin: 0 auto;
}

.quiz__finish-title {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  margin: 0 0 30px;
}

.quiz__finish-text {
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  margin: 25px 0;
}

.quiz__finish-panel {
  background: #fff;
  border: 1px solid #fff;
  padding: 20px;
  font-size: 20px;
  line-height: 1.3;
  -webkit-box-shadow: 0 5px 1.6rem 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 1.6rem 5px rgba(0, 0, 0, 0.05);
}

.quiz__finish-close {
  margin: 50px auto;
  display: block;
}

.quiz__next {
  margin: 50px auto;
  display: block;
}

.loader {
  width: 100px;
  height: 100px;
}

.loader__circle1,
.loader__circle2,
.loader__circle3 {
  fill: transparent;
  stroke-width: 4px;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.loader__circle1 {
  stroke: #eee;
  stroke-dasharray: 120 240;
  -webkit-animation: loadercircle1 2.2s ease infinite forwards;
  animation: loadercircle1 2.2s ease infinite forwards;
}

.loader__circle2 {
  stroke: #ddd;
  stroke-dasharray: 0 240;
  -webkit-animation: loadercircle2 2.4s ease infinite forwards reverse;
  animation: loadercircle2 2.4s ease infinite forwards reverse;
}

.loader__circle3 {
  stroke: #ccc;
  stroke-dasharray: 0 240;
  -webkit-animation: loadercircle3 2.6s ease infinite forwards;
  animation: loadercircle3 2.6s ease infinite forwards;
}

@-webkit-keyframes loadercircle1 {
  0% {
    stroke-dasharray: 0 240;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 240 240;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    stroke-dasharray: 0 240;
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@keyframes loadercircle1 {
  0% {
    stroke-dasharray: 0 240;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 240 240;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    stroke-dasharray: 0 240;
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@-webkit-keyframes loadercircle2 {
  0% {
    stroke-dasharray: 0 200;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 200 200;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    stroke-dasharray: 0 200;
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@keyframes loadercircle2 {
  0% {
    stroke-dasharray: 0 200;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 200 200;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    stroke-dasharray: 0 200;
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@-webkit-keyframes loadercircle3 {
  0% {
    stroke-dasharray: 0 160;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 160 160;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    stroke-dasharray: 0 160;
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@keyframes loadercircle3 {
  0% {
    stroke-dasharray: 0 160;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 160 160;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    stroke-dasharray: 0 160;
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@-webkit-keyframes answer-check {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes answer-check {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes error {
  0% {
    -webkit-transform: translate(30px);
    transform: translate(30px);
  }
  20% {
    -webkit-transform: translate(-30px);
    transform: translate(-30px);
  }
  40% {
    -webkit-transform: translate(15px);
    transform: translate(15px);
  }
  60% {
    -webkit-transform: translate(-15px);
    transform: translate(-15px);
  }
  80% {
    -webkit-transform: translate(8px);
    transform: translate(8px);
  }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
  }
}

@keyframes error {
  0% {
    -webkit-transform: translate(30px);
    transform: translate(30px);
  }
  20% {
    -webkit-transform: translate(-30px);
    transform: translate(-30px);
  }
  40% {
    -webkit-transform: translate(15px);
    transform: translate(15px);
  }
  60% {
    -webkit-transform: translate(-15px);
    transform: translate(-15px);
  }
  80% {
    -webkit-transform: translate(8px);
    transform: translate(8px);
  }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
  }
}

@media only screen and (max-width: 1350px) {
  .quiz__title {
    font-size: 3.5vw;
  }
  .quiz__text {
    font-size: 2vw;
  }
  .quiz__tail::after {
    margin-right: 0;
    right: -200px;
  }
}

@media only screen and (max-width: 991px) {
  .quiz__head {
    display: block;
    text-align: center;
  }
  .quiz__logoSign {
    display: block;
    padding: 0;
    max-width: none;
    text-align: center;
    font-size: 15px;
    margin: 10px 0;
  }
  .quiz__head {
    margin-bottom: 50px;
  }
  .quiz__close, .quiz__back {
    top: 30px;
  }
  .quiz__back {
    left: 15px;
  }
  .quiz__close {
    right: 15px;
  }
  .quiz__tail {
    text-align: center;
  }
  .quiz__tail::after {
    display: none;
  }
  .quiz__title {
    font-size: 30px;
  }
  .quiz__title span {
    display: inline-block;
  }
  .quiz__text {
    font-size: 20px;
  }
  .quiz__btn {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .quiz__callback {
    margin-left: 0;
  }
  .quiz__choiseText {
    font-size: 30px;
  }
  .quiz__item {
    width: 50%;
    padding-bottom: 50%;
  }
  .quiz__item span {
    padding-top: 100px;
  }
  .quiz__phone {
    color: #5e94dc;
  }
  .quiz__phone::before {
    display: none;
  }
  .quiz__question-caption {
    font-size: 33px;
  }
  .quiz__question-answer {
    -webkit-flex-basis: 45%;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }
  .quiz__form-title, .quiz__finish-title {
    font-size: 30px;
  }
  .quiz__finish-text {
    font-size: 18px;
  }
  .quiz__finish-panel {
    font-size: 18px;
    padding: 0 15px;
  }
}

@media only screen and (max-width: 768px) {
  .quiz__reason {
    border-radius: 50px;
    padding: 13px 13px 13px 70px;
    font-size: 13px;
    margin: 50px auto;
    max-width: 300px;
  }
  .quiz__reason::before {
    width: 60px;
    height: 60px;
  }
  .quiz__reason b {
    font-size: 15px;
  }
  .quiz__reason span {
    display: none;
  }
  .quiz__reason i {
    display: block;
    font-style: normal;
  }
}

@media only screen and (max-width: 480px) {
  .quiz__inner {
    padding: 30px 15px;
  }
  .quiz__item {
    width: 100%;
    padding-bottom: 100%;
  }
  .quiz__btn {
    min-width: auto;
    padding: 15px 20px;
    font-size: 15px;
    width: 100%;
  }
  .quiz__btn::after {
    font-size: 15px;
  }
  .quiz__callback {
    font-size: 16px;
  }
  .quiz__counter {
    font-size: 14px;
  }
  .quiz__title {
    font-size: 25px;
  }
  .quiz__choiseText {
    font-size: 25px;
  }
  .quiz__text {
    font-size: 18px;
  }
  .quiz__disclamer {
    font-size: 12px;
  }
  .quiz__question-caption {
    font-size: 30px;
  }
  .quiz__question-answers {
    margin: 0;
  }
  .quiz__question-answer {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 15px 0;
  }
  .quiz__form-title {
    font-size: 25px;
  }
  .quiz__form-field {
    padding: 5px 30px;
  }
  .quiz__form-field::before {
    left: 0;
  }
  .quiz__finish-title {
    font-size: 25px;
  }
}
