doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,900")
		link(rel='stylesheet', href='css/style.css')
		script(src="https://use.fontawesome.com/dc4e9e0727.js")
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			.quiz
				table.quiz__wrapper
					tr
						td.quiz__container
							.quiz__inner
								button.quiz__close
								.quiz__main
								.quiz__head
									img.quiz__logo(src="img/logo.png", alt="")
									p.quiz__logoSign Стоматология #[br]в Москве
									a(href="tel:+7 (495) 241 00 36").quiz__phone +7 (495) 241 00 36
								.quiz__tail
									p.quiz__title Узнайте предварительную 
										span цену на #[b стоматологические услуги] 
										span пройдя короткий тест за 20 сек 
									p.quiz__text Мы предоставим вам предварительный расчет стоимости и варианты лечения на основе ваших ответов. Также вы получите возможность рассрочки. Нас выбрали уже тысячи пациентов
									button.quiz__start Рассчитать цену онлайн
									button.quiz__callback Записаться на прием
									p.quiz__counter Сегодня тестов пройдено: 27
								.quiz__list
									p.quiz__choiseText #[b Выберите услугу], на которую хотите рассчитать стоимость
									button.quiz__item
										i(style="background-image: url(img/quiz-item-pic-1.jpg)")
										span(style="background-image: url(img/quiz-item-icon-1.png)") Имплантация
									button.quiz__item
										i(style="background-image: url(img/quiz-item-pic-1.jpg)")
										span(style="background-image: url(img/quiz-item-icon-1.png)") Имплантация
									button.quiz__item
										i(style="background-image: url(img/quiz-item-pic-1.jpg)")
										span(style="background-image: url(img/quiz-item-icon-1.png)") Имплантация
									button.quiz__item
										i(style="background-image: url(img/quiz-item-pic-1.jpg)")
										span(style="background-image: url(img/quiz-item-icon-1.png)") Имплантация
									button.quiz__item
										i(style="background-image: url(img/quiz-item-pic-1.jpg)")
										span(style="background-image: url(img/quiz-item-icon-1.png)") Имплантация
									button.quiz__item
										i(style="background-image: url(img/quiz-item-pic-1.jpg)")
										span(style="background-image: url(img/quiz-item-icon-1.png)") Имплантация
									button.quiz__item
										i(style="background-image: url(img/quiz-item-pic-1.jpg)")
										span(style="background-image: url(img/quiz-item-icon-1.png)") Имплантация
									button.quiz__item
										i(style="background-image: url(img/quiz-item-pic-1.jpg)")
										span(style="background-image: url(img/quiz-item-icon-1.png)") Имплантация


		script(src="js/lightslider.min.js")
		script(src="js/common.js")
